.active-users{
  width: 100%;
  height: 50vh;
  background-color: yellowgreen;
  border-radius: 20px;
  padding: 15px 0;
  overflow-y: auto;
}

mat-card:not(:last-child){
  margin: 0 auto 10px;
}

mat-card {
  width: 80%;
  margin: auto;
  color: yellowgreen;
}

.other-users:hover {
  background-color: white;
  cursor: pointer;
}

.enabled-user {
  pointer-events: none;
  background-color: #4287f5;
}

.title {
  margin: 10px auto;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
