/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Quicksand, serif;
  font-size: 20px;
  background-color: dimgrey;
}

span {
  font-family: Quicksand, serif;
  font-size: 16px;
}
