.header {
  display: flex;
  width: 100%;
  padding: 20px 0;
  background-color: darkolivegreen;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
}

.header-right {
  margin-right: 20px;
}

span {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 500;
}

.log-out-button {
  color: black !important;
}

.header-center {
  font-size: 30px;
  font-weight: 700;
}
