.chat-screen{
  height: 75vh;
  width: 100%;
  background-color: lightblue;
  border-radius: 20px 20px 0 0;
  //border: 1px solid crimson;
  //padding: 15px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card {
  width: fit-content;
  max-width: 45%;
  overflow-wrap: break-word;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.left {
  align-self: flex-start;
  left: 50px;
  background-color: rebeccapurple;
}

.right {
  align-self: flex-end;
  right: 50px;
  background-color: green;
}

.input-message {
  align-self: flex-end;
  width: 100%;
  margin-top: 22px;
  position: relative;
  top: 23px;
}

mat-form-field {
  width: 100%;
}

