<div class="chat-screen">
  <div class="messages" id="messages">
    <mat-card [ngClass]="{'right': currentUser === message.from, 'left': currentUser !== message.from}" *ngFor="let message of messages">
      <mat-card-content>{{message.message}}</mat-card-content>
    </mat-card>
  </div>

  <form class="input-message" [formGroup]="messageForm" (keydown.enter)="onSubmit()">
    <mat-form-field>
      <input formControlName="message" matInput placeholder="Type your message...">
    </mat-form-field>
  </form>
</div>
